@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.bgimg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(25deg,#06f2f6 50%,#161616 50% );
}
.centerdiv{
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(206, 17, 17);
    transform: translate(-50%,-50%);
    box-shadow: 0 1px 6px rgba(0,0,0,0.12) , 0 1px 4px rgba(88, 71, 71, 0.24);
    background-image: linear-gradient(25deg, #161616 50% ,#06f2f6 50% );
}
#profilepic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    line-height: 100px;
    background:#d6ebda ;
    vertical-align: middle;
    position: relative;
    top: -60px;
    left: calc((350px - 120px)/2);
}


.bgimg h1{
    font-size: 32px;
    text-align: center;
    margin-top: -40px;
}

.bgimg .input-box{
    position: relative;
    width: 90%;
    height: 30px;
    margin: 30px 20px 30px 20px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent ;
    border: none;
    outline: none ;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 80px;
    border-color: black;
    font-size: 18px;
    color: #eee8e8;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #eee8e8 
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 70%;
    transform: translateY(-50%);
    font-size: 20px ;
    color: #0d0d0d;
}

.bgimg .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 16.5px;
    margin: -1px 0 19px;
    margin-right: 10px;
}

.remember-forget label input{
    accent-color: #010101;
    margin-left: 5px;
    margin-right: 2px ;
    cursor: pointer;
}
.remember-forget a{
    color: #fff;
    text-decoration: underline;
}
.remember-forget a:hover{
    text-decoration: underline;
    
}

.bgimg .btn  {
    width: 210px;
    height: 25px;
    margin-left: 70px;
    background: #fff;
    border: 2px;
    outline:#fff;
    border-radius: 40px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.bgimg .btn:hover{
    background: rgba(255,255,255,0.5);
    color: #fff;
    border-color: #fff;
}

.bgimg .register-link {
    font-size: 14.5px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 20px 0 15px ;
}

.register-link p a {
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
} 
 .register-link p a:hover{
    text-decoration: underline;
    color: rgb(51, 0, 236);
} 
